@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
	padding:0;
	margin:0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	outline: none;
}
:root{
	--color-font:#006666;
	--color-font_2:#FFF;
}
header{
	/*align-items:center;*/
	display:flex;
	flex-direction:column;
	justify-content:center;	
	background:var(--color-font);
	padding:1.3rem;
	box-shadow: 0px 5px 5px  #c9cfd0;
}

.Logo  h1{
	font-size:1rem;
	font-weight:inherit;
	color:var(--color-font_2);
}

.center,
.main{
	width:90%;
	margin:auto;
}
.main{
	margin-top:2rem;
}
table, td, th {    
    border: 1px solid #ddd;
    text-align: center;
    font-weight:inherit;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    font-size:1rem;
}
table button{
	border:none;
	background:var(--color-font);
	color:#fff;
	padding:0.3rem 0.2rem;
	font-size:0.6rem;
}
table button:hover{
	opacity:0.8;
}

.titulo{
	padding:8px 8px;
	border-left: 4px solid var(--color-font);
	margin-bottom: 1rem;
}
.titulo h1{
	font-size: 1.2rem;
}
.input-container{
	display:flex;
	flex-direction: column;
}
label{
	line-height:2rem;
}
input[type='text']{
	border:none;
	padding:.8rem;
	border-bottom: 1px solid #dedede;
}
.button{
	margin-top: 2rem;
}
input[type='button']{
	background:var(--color-font);
	color:var(--color-font_2);
	border:none;
	padding:.7rem;
	box-shadow: 1px 1px 1px 1px #dedede;
}
input:focus{
	border-bottom: 1px solid var(--color-font);
}